/**Generales**/
*{
  font-family: verdana;
}
*::after,*::before{
  box-sizing: border-box;
}
.clearfix ::after {
  content: '';
  display: block;
  clear: both;
}
.App {
  text-align: center;
  margin: 0 auto;
  width: 95%;
}
.button{
  margin:0 5px;
  width: 100px;
}

.button input{
  background-color: #222;
  color: white;
  width: 100px;
  margin: 30px auto;
}
.input{
  margin: 30px 0;
}
/**Header**/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.logo{
  float:left;
}
.App-header {
  background-color: #222;

  padding: 20px;
  color: white;
  border: 1px solid #e1e1e1;
  text-align: center;
  border-radius: 10px;
}

.App-header ul#header-nav1{
  float: left;
  width: 50%;
}
.App-header ul#header-nav2{
  float: right;
  width: 30%;

}
.App-header ul li{
  display: inline-block;
  padding: 5px;
}
.App-header ul li a{
  text-decoration: none;
  display: inline-block;
  margin: 20px 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
/*Formulario*/
.App-form{
  padding: 20px;
  width:50%;
  margin:0 auto;
}
.App-form .form{
  width:100%;
}
.App-form .title-form{


}
.App-form .main-form{
  height: 300px;

}
.App-form .button{
  float: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
